.container {
    max-width: 1920px;
    margin: 0 auto;
}

//-----------------------------------------------------------------
//PARTE 1

@import "parte1";

//-----------------------------------------------------------------
//PARTE 2

@import "parte2";

//-----------------------------------------------------------------
//PARTE 3

@import "parte3";

//-----------------------------------------------------------------
//PARTE 4

@import "parte4";

//-----------------------------------------------------------------
//PARTE 5

@import "parte5";

//-----------------------------------------------------------------
//GPS

.GPS {
    margin-bottom: -2vh;
}